body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.skip-diet {
  display: flex;
  padding-top: 100px;
  padding-left: 100px;
  margin-bottom: 120px;
}
.first-container {
  width: 50%;
}
.first-container img {
  width: 98%;
}
#female-2nd {
  width: 52.2%;
  padding-left: 100px;
}
#backround {
  background-image: url(images/background/7.png);
  background-repeat: no-repeat;
}
#about-me {
  padding: 20px 40px 20px 0px;
}
#text-size {
  font-size: 45px;
}
#recipies-paragraph {
  margin-left: 300px;
  margin-right: 300px;
}
.first-container p {
  margin-bottom: 50px;
}
h1 {
  font-size: 65px;
  color: rgb(85, 85, 85);
}
#different-color {
  color: salmon;
}
.gradient-button {
  text-decoration: none;
  font-weight: 570;
  color: white;
  background-image: linear-gradient(salmon, orange);
  padding: 21px 50px;
  border-radius: 40px;
  box-shadow: 4px 4px 30px rgb(255, 171, 162);
}
.food-recipies {
}
.my-recipies {
  text-align: center;
}
.recipies-ditails {
  display: flex;
  width: 70%;
  margin: 50px 180px;
}
.side-by-side {
  margin-left: 50px;
  padding: 25px 25px;
  width: 30%;
  box-shadow: 5px 5px 40px rgb(175, 175, 175);
  border-radius: 20px;
}
.side-by-side img {
  width: 100%;
}
.foods-title {
  font-size: 25px;
}
